<div class="col-lg-12">
  <h2><strong>Читайте также:</strong></h2>
</div>

{% for recoObj in recoObj_list %}
  <div class="col-lg-6 col-md-12">
    <a href="/post/{{ recoObj.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">{{ recoObj.title }}</h4>
        <small class="text-muted">{{ recoObj.published_date|date }}</small>
      </div>
      <small>
        <span>{{ recoObj.flow }}:</span>
        <span style="color:#b88b58">
          {% for tag in recoObj.tags.all %}
            {{ tag }}
          {% endfor %}
        </span>
      </small>
    </a>
  </div>
{% endfor %}
