<h3><strong>Читайте также:</strong></h3>
<div class="row" style="margin-top:1em">
  {% for recoObj in recoObj_list %}
    <div class="col-lg-2 col-md-4 col-sm-6">
      <div class="card card-inverse" style="border:none;margin-bottom:30px">
        <img class="card-img" src="{{ recoObj.image.url }}" alt="{{ postObj.title }}">
        <div class="card-img-overlay">
          <h4 class="card-title" style="font-size:.8em">{{ postObj.title }}</h4>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
