{% extends "base.html" %}

{% block title %}{{ page_title }} / vercon-journal.com{% endblock %}

{% block description %}
Рубрики идей для Вашего дома. vercon-journal.com
{% endblock %}

{% block keywords %}

{% endblock %}
{% for groupObj in groupObj_list %}
{{ groupObj.name|capfirst }},
{% endfor %}
{% block body_content %}

<div class="list-menu">
  <h1><small>{{ page_header }}</small></h1>
  <hr>
</div>


<div class="row" style="padding-bottom:30px">
  <div class="col-md-9">
    <ul class="media-list">
      {% for groupObj in groupObj_list %}
        {% include "blocks/hub_info.html" with groupObj=groupObj %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-3">
    {% include "blocks/flow_info.html" with flowObj_list=flowObj_list %}
  </div>
</div>
{% endblock %}
