{% extends "base.html" %}


{% block MetaData %}

<title>Рубрики о ремонте | kmizar.com</title>
<meta name="description" lang="ru" content="Рубрики о ремонте, дизайне помещений и дачных участвков.">
<meta name="keywords" content="Ремонт, Дизайн, Дача, Квартира, Ремонт квартир, Ремонт своими руками">

<meta property="og:title" content="Kmizar">
<meta property="og:image" content="/static/logo/logo.png">
<meta property="og:description" content="Рубрики о ремонте, дизайне помещений и дачных участвков.">
<meta property="og:url" content="https://kmizar.com/flows/">

{% endblock %}


{% block Content %}

<div class="container" style="width:100%; max-width:1280px;">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <h1 class="text-left" style="padding-bottom:2rem;color:#656c7a">Рубрики</h1>
      {% for groupObj in groupObj_list %}
        {% include "blocks/hub.html" with groupObj=groupObj %}
      {% endfor %}
    </div>
    <div class="col-lg-3 col-md-12">
      {% include "blocks/flows.html" with groupObj=groupObj %}
    </div>
  </div>
</div>

{% endblock %}
