{% extends "base.html" %}

{% block title %}Публикации{% endblock %}

{% block body_content %}
{% if postObj_list %}
  {% for postObj in postObj_list %}
    {% include "blocks/article_short.html" with postObj=postObj %}
  {% endfor %}
{% else %}
<div>Похоже, что ничего нет.</div>
{% endif %}


<div class="pagination">
  {% if postObj_list.has_previous %}
      <a href="?page={{ postObj_list.previous_page_number }}">←</a>
  {% endif %}

  {% for num in postObj_list.paginator.page_range %}
      {% if num == postObj_list.number %}
          <span class="current"><b>{{ num }}</b></span>
      {% else %}
          <a href="?page={{ num }}"> {{ num }}</a>
      {% endif %}
  {% endfor %}

  {% if postObj_list.has_next %}
      <a href="?page={{ postObj_list.next_page_number }}">→</a>
  {% endif %}
</div>
{% endblock %}
