{% extends "base.html" %}


{% block MetaData %}

<title>{{ postObj.meta_title }}</title>
<meta name="description" content="{{ postObj.meta_description }}">
<meta name="keywords"    content="{{ postObj.meta_keywords }}">

{% endblock %}


{% block Content %}

<div itemscope itemtype="http://schema.org/Article">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        {% include "blocks/article.html" with postObj=postObj %}
      </div>
      <div class="col-lg-3 col-md-12">

      </div>
    </div>
  </div>
</div>

{% endblock %}
