{% extends "base.html" %}

{% block title %}{{ page_title|capfirst }} / vercon-journal.ru{% endblock %}

{% block description %}
Строительство и ремонт своими руками, идеи по дизайну квартир, домов и дачных участвков.
Обзоры на строительные материалы. vercon-journal.com журнал идей для Вашего дома.
{% endblock %}

{% block keywords %}
Строительство, Ремонт, Дизайн интерьеров, Строительные материалы, Мебель, Обзор, Журнал
{% endblock %}

{% block body_content %}

<div class="list-menu">
  <h1><small>{{ page_title|capfirst }}</small></h1>
  <hr>
</div>


{% for postObj in postObj_list %}
  {% include "blocks/article_short.html" with postObj=postObj %}
{% empty %}
  <div>Похоже, что ничего нет.</div>
{% endfor %}


<ul class="pagination">
  {% if postObj_list.has_previous %}
  <li class="active">
    <a href="?page={{ postObj_list.previous_page_number }}">
      <span class="glyphicon glyphicon-chevron-left" style="font-size:15px"></span>
    </a>
  </li>
  <li class="active"><a href="?page={{ postObj_list.previous_page_number }}">{{ postObj_list.previous_page_number }}</a></li>
  {% else %}
  <li class="disabled">
    <a>
      <span class="glyphicon glyphicon-chevron-left" style="font-size:15px"></span>
    </a>
  </li>
  {% endif %}
  <li class="current"><span>{{ postObj_list.number }}<span class="sr-only">(current)</span></span></li>
  {% if postObj_list.has_next %}
  <li class="active"><a href="?page={{ postObj_list.next_page_number }}">{{ postObj_list.next_page_number }}</a></li>
  <li class="active">
    <a href="?page={{ postObj_list.next_page_number }}">
      <span class="glyphicon glyphicon-chevron-right" style="font-size:15px"></span>
    </a>
  </li>
  {% else %}
  <li class="disabled">
    <a>
      <span class="glyphicon glyphicon-chevron-right" style="font-size:15px"></span>
    </a>
  </li>
  {% endif %}
</ul>

{% endblock %}
