{% extends "base.html" %}


{% block MetaData %}

<title>{{ postObj.meta_title }} | kmizar.com</title>
<meta name="description" lang="ru" content="{{ postObj.meta_description }}">
<meta name="keywords" content="{{ postObj.meta_keywords }}">

<div xmlns:v="http://rdf.data-vocabulary.org/#">
  <span typeof="v:Breadcrumb"><a href="http://kmizar.com/" rel="v:url" property="v:title">kmizar.com</a> → </span>
  <span typeof="v:Breadcrumb"><a href="http://kmizar.com/flows" rel="v:url" property="v:title">статья</a> → </span>
  <span typeof="v:Breadcrumb">Текущая категория</span>
</div>

<meta property="og:title" content="{{ postObj.title }}">
<meta property="og:image" content="{{ postObj.image }}">
<meta property="og:description" content="{{ postObj.meta_description }}">
<meta property="og:url" content="https://kmizar.com/post/{{ postObj.id }}">

{% endblock %}


{% block Content %}

<div itemscope itemtype="http://schema.org/Article">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        {% include "blocks/article.html" with postObj=postObj %}
      </div>
      <div class="col-lg-3 col-md-12">

      </div>
    </div>
  </div>
</div>

{% endblock %}
