<div style="padding-bottom:50px">
	<span class="text-muted space-small">
		<small>{{ postObj.published_date|date }}</small>
	</span>
	<h2>
		<small>
			<a href="/post/{{ postObj.id }}/" class="text-primary">{{ postObj.title|capfirst }}</a>
		</small>
	</h2>
	<ul class="list-inline">
		<li>
			<a href="/flows/{{ postObj.flow }}">
				<span class="label label-flow space-small">{{ postObj.flow.name|capfirst }}</span>
			</a>
		</li>
		{% for tag in postObj.tags.all %}
		<li>
			<a href="/tags/{{ tag }}">
				<span class="label label-default space-small">{{ tag.name|capfirst }}</span>
			</a>
		</li>
		{% endfor %}
	</ul>
	<div class="post">
		{{ postObj.text|truncatewords:100|safe }}
	</div>
	<a type="button" class="btn btn-default space-small" href="/post/{{ postObj.id }}/">Подробнее <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
