
<span class="text-gray space-small">
	<small>{{ postObj.published_date|date }}</small>
</span>

<h1><strong>{{ postObj.title }}</strong></h1>

<ul class="list-inline">
	<li><a href="/flows/{{ postObj.flow }}">
		<span class="label label-flow">{{ postObj.flow.name|capfirst }}</span>
	</a></li>
	{% for tag in postObj.tags.all %}
	<li><a href="/tags/{{ tag }}">
		<span class="label label-default">{{ tag.name|capfirst }}</span>
	</a></li>
	{% endfor %}
</ul>

<div style="padding-bottom:30px">
	{{ postObj.text|safe }}
</div>
