<div itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="card">

  <a href="/post/{{ postObj.id }}/" rel="nofollow">
    <img itemprop="image" class="card-img-top img-fluid" src="{{ postObj.image.url }}" alt="{{ postObj.title|upper }}">
  </a>

  <div class="card-block">

    <a href="/flows/{{ postObj.flow }}">
      <span class="badge badge-default">{{ postObj.flow.name|upper }}</span>
    </a>

    <a itemprop="mainEntityOfPage" href="/post/{{ postObj.id }}/">
      <h2 itemprop="name" class="card-title"><small>{{ postObj.title|upper }}</small></h2>
    </a>

    <p class="card-text">
      {% for tag in postObj.tags.all %}
        <a href="/tags/{{ tag }}" class="space-small">
          <small>#{{ tag.name|capfirst }}</small>
        </a>
      {% endfor %}
    </p>

    <p class="card-text">
      <span style="color:#4db6ac">
        <small>{{ postObj.published_date|date }}</small>
      </span>
    </p>

    <meta itemprop="description" content="{{ postObj.meta_description }}">
  </div>

</div>
