<footer class="footer">
  <div class="container" style="max-width:1280px;width:100%">
    <div class="row">
      <div class="col-lg-6 col-md-12 mobile-footer-padding">
        <a href="/" class="space-small" rel="nofollow" style="padding-right:1.5rem"><small><strong>ПУБЛИКАЦИИ</strong></small></a>
        <a href="/flows" class="space-small" rel="nofollow" style="padding-left:1.5rem"><small><strong>РУБРИКИ</strong></small></a>
      </div>
      <div class="col-lg-6 col-md-12 footer-right-block">
        <div class="media" style="border:none;padding:0!important;margin:0!important;">

          <div class="media-body-large madia-footer">
            <p style="color:#202121">Копирование материалов запрещено.</p>
            <p style="color:#202121">Kmizar.com 2017 год.</p>
          </div>
          <div class="media-body-small text-right" style="">
            <a href="/" class="space-small" rel="nofollow">
              <img src="/static/logo/sm-logo.png" alt="kmizar" width="58px">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
