<div itemscope itemtype="http://schema.org/WPFooter">
  <footer class="container">
    <div class="modal-footer">
      <div>
        <ul class="list-inline">
          <li><a href="/" class="space-small"><small><strong>ПУБЛИКАЦИИ</strong></small></a></li>
          <li><a href="/flows" class="space-small"><small><strong>РУБРИКИ</strong></small></a></li>
        </ul>
      </div>
      <div class="small space-small">
        <a href="/"><img src="/static/vercon/favicon.ico" alt="vercon journal" width="18px"/></a> Vercon-Journal.com | All rights reserved. 2017.
      </div>
    </div>
  </footer>
</div>
