<div class="media">

  <div class="media-body-small">
    <a href="/groups/{{ groupObj.sys_name }}" rel="nofollow">
      <img src="{{ groupObj.icon.url }}" alt="{{ groupObj.name|capfirst }}" width="64px">
    </a>
  </div>

  <div class="media-body-large">
    <a href="/groups/{{ groupObj.sys_name }}">
      <h2>{{ groupObj.name|capfirst }}</h2>
    </a>
    <p class="media-hide">{{ groupObj.description|capfirst }}</p>
    <p class="media-show">
      {% for tag in groupObj.tags.all %}
        <a href="/groups-tags/{{ groupObj.sys_name }}-{{ tag }}" class="space-small"><small>#{{ tag.name|capfirst }}</small></a>
      {% endfor %}
    </p>
  </div>

  <div class="media-body media-hide">
    {% for tag in groupObj.tags.all %}
      <a href="/groups-tags/{{ groupObj.sys_name }}-{{ tag.sys_name }}" class="space-small"><small>#{{ tag.name|capfirst }}</small></a>
    {% endfor %}
  </div>

</div>
