
<li class="media">
  <div class="pull-left">
    <img class="media-object vignette hub-img" src="{{ groupObj.icon.url }}" alt="{{ groupObj.name|capfirst }}">
  </div>
  <div class="media-body">
    <h2 class="media-heading">
      <small><a href="/groups/{{ groupObj.sys_name }}">{{ groupObj.name|capfirst }}</a></small>
    </h2>
    <div style="padding-top:16px lead">
      {{ groupObj.description|capfirst }}
    </div>
    <div style="padding-top:8px">
        {% for tag in groupObj.tags.all %}
        <a href="/tags/{{ tag }}" class="space-small">{{ tag.name|capfirst }}</a>
        {% endfor %}
    </div>
  </div>
</li>
