
<li class="media">
  <div class="pull-left">
    <img class="media-object" src="{{ groupObj.icon.url }}" alt="..." width="48" height="48">
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="/groups/{{ groupObj.sys_name }}">{{ groupObj.name|capfirst }}</a>
    </h4>
    <div>
      <small>{{ groupObj.description|capfirst }}</small>
    </div>
    <div>
      <small>
        {% for tag in groupObj.tags%}
        <a href="/tags/{{ tag }}">{{ tag.name|capfirst }}</a>
        {% endfor %}
      </small>
    </div>
  </div>
</li>
