
<li class="media">
  <div class="pull-left">
    <img class="media-object hub-img" src="{{ groupObj.icon.url }}" alt="{{ groupObj.name|capfirst }}">
  </div>
  <div class="media-body">
    <h2 class="media-heading">
      <a href="/groups/{{ groupObj.sys_name }}">{{ groupObj.name|capfirst }}</a>
    </h2>
    <div style="padding-top:16px lead">
      {{ groupObj.description|capfirst }}
    </div>
    <div style="padding-top:8px">
        {% for tag in groupObj.tags.all %}
        <a href="/groups-tags/{{ groupObj.sys_name }}-{{ tag }}" class="space-small"><small><strong>#{{ tag.name|capfirst }}</strong></small></a>
        {% endfor %}
    </div>
  </div>
</li>
